@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 235, 235, 235, 92;
    --background-end-rgb: 235, 235, 235, 92;
  }
}
@font-face {
  font-family: 'Sora Variable';
  src: url('/fonts/sora/Sora-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  color: #d8d8da;
  background-color: #353535;
}

/*@layer utilities {*/
/*  .text-balance {*/
/*    text-wrap: balance;*/
/*  }*/
/*}*/

:where(*) {
  font-family: 'Roboto Slab', fallback, sans-serif;
}

:where(.css-dev-only-do-not-override-1qhpsh8).ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):hover, :where(.css-dev-only-do-not-override-1qhpsh8).ant-menu-light > .ant-menu:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):hover {
  color: #00bbff;
}

.primary-btn {
  background-color: #1890ff;
}

div > ul > li > button.ant-btn.css-dev-only-do-not-override-1qhpsh8.ant-btn-primary.ant-btn-sm {
  background-color: #1890ff;
}
.ant-switch.css-dev-only-do-not-override-1qhpsh8{
  background-color: #bfbfbf;
}
